@model WTTechPortal.Models.tasklist

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actionitem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.actionitem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.completedate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.completedate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.owners.ownername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prioritites.priorityname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.statuses.statusname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.task)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.task)
        </dd>
    </dl>
</div>

<h3>Updates</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Update Info
            </th>
            <th>
                Update Date
            </th>
            <th>
                Updated By
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.tasklistupdates)
        {
            <tr>
                <td>
                    @item.updatetext
                </td>
                <td>
                    @item.createdate
                </td>
                <td>
                    @item.updateby
                </td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
