@model IEnumerable<WTTechPortal.Models.tasklist>

    @{
        ViewData["Title"] = "Task List";
    }

@{
    SelectList statuslist = ViewBag.statuslist;
    SelectList priorities = ViewBag.priorities;
    SelectList ownerlist = ViewBag.ownerlist;
    string emailstatus = ViewBag.EmailStatus;
}

    <h2>Task List</h2>
    <div class="emailupdate">@Html.Display("emailstatus")
    </div>
    <p>
        <a asp-action="Create">Create a New Task</a>
    </p>
     
        
<p>
    @using (Html.BeginForm("Index", "tasklist", FormMethod.Post))
    {
        
       <text>Filter By Owner: </text> @Html.DropDownList("owner", ownerlist, "Show All")<br />
       <text>Filter By Priority: </text> @Html.DropDownList("prioity", priorities, "Show All")<br />
       <text>Filter By Status: </text> @Html.DropDownList("status", statuslist, "Show All") <br />
       <text>HIde Closed Tasks: </text> @Html.CheckBox("closedcheck",true) <br />
        
       <input type="submit" value="Search" />
    }
 

  
    

        @Html.ActionLink("Reset Filters", "Index")

   
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.actionitem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.completedate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.task)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.actionitem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.statuses.statusname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.owners.ownername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prioritites.priorityname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.completedate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
