@model IEnumerable<WTTechPortal.Models.hypervperf>

@{
    ViewData["Title"] = "HyperVisor Info";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cpucores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpuspd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memfree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memused)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cpucores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpuspd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memfree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memused)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>

            <td>

            </td>
        </tr>
}
    </tbody>
</table>
@{ 
    var model1 = ViewBag.hypervvms;
}



<h3>Virtaul Machines</h3>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Host Name
            </th>
            <th>
                Virtaul Machine
            </th>
            <th>
                State
            </th>

            <th>
                Date Updated
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.hypervvms)
        {
            <tr>
                <td>
                   @item.host
                </td>
                <td>
                    @item.vm
                </td>
                <td>
                    @item.state
                </td>

                <td>
                    @item.date
                </td>
                
                <td></td>
            </tr>
        }
    </tbody>
</table>