@model IEnumerable<WTTechPortal.Models.Inventory.assetinventory>

@{
    ViewData["Title"] = "Asset Inventory";
}

<h2>@ViewBag.Title</h2>



@{
    SelectList modelist = ViewBag.modelist;
    SelectList statuslist = ViewBag.statuslist;
    SelectList operatingsystemlist = ViewBag.operatingsystemlist;
    string emailstatus = ViewBag.EmailStatus;
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    @using (Html.BeginForm("Index", "AssetInventory", FormMethod.Post))
    {

        <text>Filter By Brand: </text> @Html.DropDownList("brand", modelist, "Show All")<br />
        <text>Filter By Status: </text> @Html.DropDownList("assetstatus", statuslist, "Show All")<br />
        <text>Filter By Operating System: </text> @Html.DropDownList("opertaingsystem", operatingsystemlist, "Show All") <br />
        

        <input type="submit" value="Search" />
    }





    @Html.ActionLink("Reset Filters", "Index")


</p>

<div id="results">
    Current Results :  @ViewBag.totalassets <br /> <br />
    Total Assets :  @ViewBag.totalassets <br />
    Total Assets Ready :  @ViewBag.assetsready <br />
    Total Assets Ready that have damage :  @ViewBag.assetsreadyneedrepair <br />
    Total Assets that Need Repaired :  @ViewBag.assestsneedrepair <br />
    Total Assets that need an Operating System :  @ViewBag.functionalneedos <br />
    Total Assets Unchecked :  @ViewBag.assetsunchecked <br />
    Total Assets that are not usable :  @ViewBag.assetsnotusable <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assetid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpucores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpumodel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpuspd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hddsize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.operatingsystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ready)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assetid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpucores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpumodel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpuspd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hddsize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.operatingsystems.operatingsystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status.assetstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |               
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
