@model IEnumerable<WTTechPortal.Models.org_list>

@{
    ViewData["Title"] = "Orginzation List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orgname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailcontact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orgname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailcontact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |               
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
